@import "./config";
.currentPet {
 background-image: url("https://res.cloudinary.com/ebugo/image/upload/v1577224172/petmate/bkv6mobylqt41p5rpt4m.jpg");
 background-repeat: no-repeat;
 background-size: cover;

  .container {
    padding: 50px 7%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: rgba(0, 0, 0, 0.637);
   height: 100%;

    .pet_image {
      order: 2;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 5px solid white;
        object-fit: cover;
      }
    }

    .p_details {
      order: 1;
      width: 100%;
      margin-right: 300px;
      font-size: 30px;
      color: white;

      .lead{
          font-size: 35px;
          text-align: left;
          margin: 20px 0;
          padding-left: 20px;
          color: white;
      }
      p{
          margin: 20px;
      }
      .title{
          color: $brand_color;
      }
    }
  }
  #btn-cont {
      padding: 50px 0;
      background-color: rgba(0, 0, 0, 0.637);

    button {
      display: block;
      border: none;
      margin: 0 auto;
      background-color: $brand_color;
      border-radius: 8px;
      a {
        display: block;
        padding: 10px 30px;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.footer {
    margin: 50px 0;
    padding: 0 5%;
    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      h3 {
        color: $brand_color;
        font-size: 25px;
      }
      p {
        font-weight: bold;
        margin-top: 20px;
      }
  
      .policy {
        margin: 30px 0;
      }
      .contact {
          text-align: right;
      }
    }

    &_footer {
      text-align: center;
      margin-top: 50px;
      font-weight: bold;
    }
  }


@media screen and (max-width:800px){
    .container{
      display: block !important;

      .pet_image {
          img{
              border-radius: 0 !important;
              width: 100%;
              height: auto !important;
          }
      }
      .p_details{
          font-size: 25px !important;
      }
    }
    
    .footer {
    &_container{
        display: block;

        .contact {
            text-align: left;
        }
    }
}
}

