@import "./config";
.pets {
  padding: 20px 0;
  color: $brand_color;

  .mobile {
    margin: 5px 0 20px 0;
    padding: 0 20px;
    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: black;
    }
    p {
      font-weight: 500;
      font-size: 15px;
    }
    a {
      background-color: black;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 15px;
      float: right;
      margin-bottom: 10px;
    }
  }
  .desktop {
    display: none;
  }

  .petList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .more {
    background-color: $brand_color;
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 20px auto;
    cursor: pointer;
  }
}

@media screen and (min-width: 760px) {
  .pets {
    padding: 20px 7%;

    .mobile {
      display: none;
    }
    .desktop {
      display: block;
      font-size: 30px;
      line-height: 59px;
      text-align: center;
    }
  }
}
