@import "./config";

article {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  .petStatus {
    display: none;
  }
  img.pet_img {
    width: 80px;
    height: 80px;
    border: 3px solid $brand_color;
    border-radius: 50%;
    object-fit: cover;
  }

  .p_details {
    display: inline-block;
    margin-left: 20px;
    h5 {
      font-weight: 500;
      font-size: 20px;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      color: #c4c4c4;
      margin: 5px 0;
    }
    span {
      font-weight: 500;
      font-size: 20px;
    }

    button {
      display: block;
      margin: 10px auto;
      border: none;
      padding: 0px 0;
      background-color: $brand_color;

      a{
        color: white;
        padding: 30px;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  article {
    display: inline-block;
    border: none;
    text-align: center;
    width: 250px;
    padding-left: 0;
    img.pet_img {
      width: 180px;
      height: 180px;
    }
    .p_details {
      display: block;

      h5 {
        font-size: 25px;
      }
    }
  }
}
