@import "./config.scss";

.allPets {
    color: $brand_color;
    padding: 50px 7%;

    h1{
        margin: 20px 0;
        padding: 20px 0;
        border-bottom: 1px solid black;
    }

    .petLists{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}