@import "./config.scss";

.form1 {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-style: italic;
  }

  p {
    color: red;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .form_group {
    margin: 20px 0;

    label {
      display: block;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
      color: rgb(5, 59, 59);
    }
    span {
      display: flex;
      input {
        width: 90%;
        height: 50px;
        padding: 10px 20px;
        font-size: 20px;
        color: $brand_color;
        border-radius: 5px 0 0 5px;
        border: 1px solid $brand_color;
      }
      i {
        color: $brand_color;
        background-color: #eeeeee;
        font-size: 30px;
        height: 50px;
        width: 10%;
        border: 1px solid $brand_color;
        border-radius: 0px 5px 5px 0;
        border-left: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  button {
    color: white;
    border: none;
    background-color: darkcyan;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: block;
    margin: 0 auto;
  }
}
